*{
    padding: 0;
    margin: 0;
  }
  body{
    background: #f5f5f5;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .c-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* 发票详情 */
.invoiceInfo{
    margin: 16px 16px;
    background: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px;
    font-size: 15px;
  }
  .invoiceInfo .title{
    font-size: 20px;
    font-weight: bold;
    color: #8F3930;
    text-align: center;
    position: relative;
    margin-top:10px;
  }
  .invoiceInfo .title .circleContainer{
    position: absolute;
    top:-6px;
    left:0;
    right:0;
  }
  .invoiceInfo .title .circle1{
    display: block;
    width: 66px;
    height: 38px;
    border: 2px solid #FCCAD3;
    border-radius: 50% / 50%;
  }
  .invoiceInfo .title .circle2{
    display: block;
    width: 56px;
    height: 30px;
    border: 1px solid #FCCAD3;
    border-radius: 50% / 50%;
  }
  .invoiceInfo .list{
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 16px;
  }
  .invoiceInfo .border{
    border-bottom: 2px dashed #D6D7D8;
  }
  .invoiceInfo .list .label{
    flex-shrink: 0;
    margin-right: 24px;
  
    font-weight: 400;
    color: #8C8C8C;
  }
  .invoiceInfo .list .value{
    font-weight: bold;
    color: #262626;
  }