<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
        <title>汇税通云票平台</title>
        <!-- 引入样式文件 -->
        <link
            rel="stylesheet"
            href="./css/index.css"
        />
        <link
            rel="stylesheet"
            href="./css/success.css"
        />
        <!-- 引入 Vue 和 Vant 的 JS 文件 -->
        <script src="./js/vue.min.js"></script>
        <script src="./js/vant.min.js"></script>
        <script type="text/javascript" src="./js/jweixin-1.6.0.js"></script>
        <script src="./js/axio.js"></script>
        <script src="./js/crypto-js.min.js"></script>
        <script src="./js/lodash.js"></script>
        <script src="./js/eruda.min.js"></script>
        <style>
            .btnContainer{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin:40px;
            }
            .tableContainer{
                margin:10px 10px;
                color:#646566;
                font-size: 12px;
            }
            .wechatContainer{
                position: relative;
                overflow:visible;
            }
            .wechatContainer button{
                width: 80px;
                height: auto;
                padding: 4px 6px;
                margin-right: 10px;
            }
            .finishStatus{
                font-size: 14px;
                color: #666;
                margin-top: 100px;
                text-align: center;
            }
            .selectList{
                position: absolute;
                top: 40px;
                z-index: 99;
                width: 100%;
                border-radius: 30px;
            }

        </style>
    </head>
    <body>
        <div id='app'></div>
    </body>

    <script>
        let initConsole = function() {
            let el = document.createElement('div')
            document.body.appendChild(el)
            eruda.init({
                container: el,
                tool: ['console', 'elements', 'Network', 'Info'],
                useShadowDom: true
            })
        }
        // 本地调试命令 live-server --host=10.211.107.250 --proxy=/hiop:http://10.211.110.1:9880
        // const BASE_URL = 'https://htaxuat.htc.hand-china.com';
        const BASE_URL = 'BUILD_QR_CODE_BASE_URL';
        // const BASE_URL = 'http://10.211.144.56:9880';

        // const BASE_URL = 'http://htcuatcollector.htc.hand-china.com';
        // const BASE_URL = '';
        // const testcode='0d7fc19d33ffd86c3b7c52a09ca8ce89241bdcc683ec43b7d6e46ef9461c8b4a0d7fc19d33ffd86c3b7c52a09ca8ce89241bdcc683ec43b7d6e46ef9461c8b4a0d7fc19d33ffd86c3b7c52a09ca8ce89241bdcc683ec43b7d6e46ef9461c8b4a0d7fc19d33ffd86c3b7c52a09ca8ce89241bdcc683ec43b7d6e46ef9461c8b4a';
        const APIURL={
            search:`${BASE_URL}/hiop/v1/0/reservation/query-by-code`,
            submit:`${BASE_URL}/hiop/v1/0/reservation/submit`,
            relevance:(tenantId)=>`${BASE_URL}/hiop/v1/${tenantId}/reservation/receipt-lov`,
            push:`${BASE_URL}/hiop/v1/0/reservation/push`,
            ticket:`${BASE_URL}/hcan/v1/0/get-we-chat/request-ticket/HAND`
        }
        function wxJsApi(timestamp, noncestr, ticket) {
            let url = window.location.href
            if (url.indexOf('#') != -1) {
                url = url.split('#')[0]
            }
            url = window.location.href.replace(/#.*/, '')
            let jsapi_ticket = ticket
            let str = `jsapi_ticket=${jsapi_ticket}&noncestr=${noncestr}&timestamp=${timestamp}&url=${url}`;
            let signature = CryptoJS.SHA1(str).toString();
            console.log('signature',signature);
            return signature
        }
	    const uaFn = () =>{
            const ua=navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i)=="micromessenger") {
                return true;
            } else {
                return false;
            }
        }
        new Vue({
            el: '#app',
            data:{
                uaType:false,//true =>微信浏览器 false =>其他环境浏览器
                showPicker:false,
                selectListTag:false,
                buyerName:'',
                buyerTaxNo:'',
                buyerAccount:'',
                buyerAddressPhone:'',
                electronicEmail:'',
                electronicPhone:'',
                columns: [],
                requestStatus:'N', //判断提交状态 N 新建 C 提交 F 完成 E 异常 Q 取消
                resultInfo:{},
                businessTypeObj:{},
                invoiceTypeObj:{},
                pickerType:0, // 0=> 开票类型 1=>企业类型
                companyList:[],
                paperRecipient:'',
                paperPhone:'',
                paperAddress:'',
                modelTag:false,//发票预览
                total:0
            },
            template: `
            <div v-if='!uaType'>
                <p class='finishStatus'>请使用微信扫描打开</p>
            </div>
            <div v-else style='height:100%;'>
                <div v-if="requestStatus==='C'">
                    <div class="topBox">
                        <div class="c-flex title">
                            <p class="left">发票已成功预约</p>
                            <p class="c-flex right">汇税通开票</p>
                        </div>
                        <div class="desc">您的开票预约已成功提交给商家，电子发票请及时查看收件信息！纸质发票请等待商家邮寄！</div>
                    </div>
                    <div class="invoiceListContainer">
                        <p class="title">发票信息</p>
                        <p class="c-flex invoiceList">
                            <span class="left">发票类型</span>
                            <span class="right">{{invoiceTypeObj.description}}</span>
                        </p>
                        <p class="c-flex invoiceList">
                            <span class="left">发票抬头</span>
                            <span class="right">{{buyerName}}</span>
                        </p>
                        <p class="c-flex invoiceList">
                            <span class="left">公司税号</span>
                            <span class="right">{{buyerTaxNo}}</span>
                        </p>
                        <p class="c-flex invoiceList">
                            <span class="left">发票金额</span>
                            <span class="right" style="color:#DF3549">¥{{total.toFixed(2)}}</span>
                        </p>
                    </div>
                </div>
                <div v-else>
                    <div class="header">
                        <div class="short c-flex">
                            <div
                                :class="item.value===invoiceTypeObj.value?'long active':'long'"
                                :style="(resultInfo.invoiceTypeLovList.length%2)&&index===0?'width:100%':''"
                                v-for='(item,index) in resultInfo.invoiceTypeLovList'
                                @click='handleInvoiceTypeSelect(index)'
                            >
                                <p style='padding: 16px 0 8px;border-bottom:1px dashed #D9D9D9'>
                                    <span class="tag" style='background:#1890FF' v-if="item.value==='51'||item.value==='52'">电子</span>
                                    <span class="tag" v-else-if="item.value==='41'">卷式</span>
                                    <span class="tag" style='background:#FF8F07' v-else>纸质</span>
                                    <span class="invoiceName">{{item.description.slice(0,7)}}</span>
                                </p>
                                <p class="invoiceDesc">发票开具后请注意验收</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <p class="c-flex inv-list">
                            <span class="left">商家名称</span>
                            <span class="right">{{resultInfo.salerName}}</span>
                        </p>
                        <p class="c-flex inv-list">
                            <span class="left">开具金额</span>
                            <span class="right" style="color: #FF8F07">{{total.toFixed(2)}}</span>
                        </p>
                        <p class="c-flex inv-list">
                            <span class="left">订单日期</span>
                            <span class="right">{{resultInfo.createTime}}</span>
                        </p>
                        <p class="c-flex inv-list">
                            <span class="left">订单号</span>
                            <span class="right">{{resultInfo.requestNumber}}</span>
                        </p>
                    </div>
                    <div class="panel">
                        <p class="title">购方信息</p>
                        <p class="c-flex inv-list">
                            <span class="left">企业类型<span style="color:#FF4031">*</span></span>
                            <span class="right" @click="handleCompanyTypeShow">{{businessTypeObj.meaning}}</span>
                        </p>
                        <p class="c-flex inv-list wechatContainer">
                            <span class="left">购方名称<span style="color:#FF4031">*</span></span>
                            <input type="text" class="right"  @input='handleChangeBuyName' v-model="buyerName"/>
                            <van-radio-group class='selectList' v-if='selectListTag&&companyList.length'>
                                <van-cell-group>
                                    <van-cell v-for='(item,index) in companyList' :title="item.receiptName" :key='index' clickable @click="handleCompanyList(item)"></van-cell>
                                </van-cell-group>
                            </van-radio-group>
                        </p>
                        <p class="c-flex inv-list">
                            <span class="left">购方税号<span v-if='["01", "02"].includes(businessTypeObj.value)' style="color:#FF4031">*</span></span>
                            <input type="text" class="right" v-model="buyerTaxNo"/>
                        </p>
                        <p class="c-flex inv-list">
                            <span class="left">地址/电话<span v-if='invoiceTypeObj.value==="0"' style="color:#FF4031">*</span></span>
                            <textarea
                                maxlength=200
                                :readonly='requestStatus!=="N"'
                                v-model="buyerAddressPhone"
                                type="text"
                                class="right"
                            >
                            </textarea>
                        </p>
                        <p class="c-flex inv-list">
                            <span class="left">银行账号<span v-if='invoiceTypeObj.value==="0"' style="color:#FF4031">*</span></span>
                            <textarea
                                maxlength=200
                                :readonly='requestStatus!=="N"'
                                v-model="buyerAccount"
                                type="text"
                                class="right"
                            >
                            </textarea>
                        </p>
                    </div>
                    <div class="panel" v-if="invoiceTypeObj.value==='51'||invoiceTypeObj.value==='52'">
                        <p class="title">收件信息</p>
                        <p class="c-flex inv-list">
                            <span class="left">手机号<span style="color:#FF4031" v-if='!electronicEmail'>*</span></span>
                            <input
                                type="text"
                                class="right"
                                type='text'
                                placeholder="输入手机号"
                                :disabled='requestStatus==="N"&&electronicEmail?true:false'
                                :readonly='(invoiceTypeObj.value!=="51"&&invoiceTypeObj.value!=="52")||requestStatus!=="N"'
                                v-model="electronicPhone"
                            />
                        </p>
                        <p class="c-flex inv-list">
                            <span class="left">邮箱<span style="color:#FF4031" v-if='!electronicPhone'>*</span></span>
                            <input
                                type="text"
                                class="right"
                                placeholder="输入邮箱"
                                :disabled='requestStatus==="N"&&electronicPhone?true:false'
                                :readonly='(invoiceTypeObj.value!=="51"&&invoiceTypeObj.value!=="52")||requestStatus!=="N"'
                                v-model="electronicEmail"
                            />
                        </p>
                    </div>
                    <div class="panel" v-else>
                        <p class="title">收件人信息</p>
                        <p class="c-flex inv-list">
                            <span class="left">收件人</span>
                            <input
                                type="text"
                                class="right"
                                v-model="paperRecipient"
                                placeholder="输入收件人"
                            />
                        </p>
                        <p class="c-flex inv-list">
                            <span class="left">收件地址</span>
                            <input
                                type="text"
                                class="right"
                                v-model="paperAddress"
                                placeholder="输入收件地址"
                            />
                        </p>
                        <p class="c-flex inv-list">
                            <span class="left">收件电话</span>
                            <input
                                type="text"
                                class="right"
                                type='number'
                                v-model="paperPhone"
                                placeholder="输入收件电话"
                            />
                        </p>
                    </div>
                    <div class="panel">
                        <p class="title">商品信息</p>
                        <div class="goodsCard" v-for='(item,index) in resultInfo.requisitionLines' key='index'>
                            <div class="c-flex goodsName">
                                <p class="goodsTitle">{{item.projectName}}</p>
                                <p class="price" v-if='item.taxIncludedFlag===0'>{{(item.amount+item.taxAmount).toFixed(2)}}</p>
                                <p class="price" v-else>{{item.amount.toFixed(2)}}</p>
                            </div>
                            <div v-if='item.price&&item.quantity'>
<!--                                <div class="Specifications" v-if='item.taxIncludedFlag===0'>{{((item.amount+item.taxAmount)/item.quantity)}}元/份</div>-->
                                <div class="Specifications" v-if='item.taxIncludedFlag===0'>{{handlePrice(item)}}元/份</div>
                                <div class="Specifications" v-else>{{item.price}}元/份</div>
                            </div>

                            <div class="c-flex other">
                                <p class="c-flex" v-if='item.price&&item.quantity'>*{{item.quantity}}</p>
                                <p class="c-flex">税率{{item.taxRate}}</p>
                                <p class="c-flex">税额{{item.taxAmount&&item.taxAmount.toFixed(2)}}</p>
                                <p class="c-flex"  v-if='item.discountAmount' style='color:red; border: 1px solid red;'>
                                    折扣
                                    {{item.taxIncludedFlag===0?((item.discountAmount)*(1+Number(item.taxRate))).toFixed(2):item.discountAmount.toFixed(2)}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="bottom c-flex">
                        <p class="c-flex" @click='handlePreview'>预览</p>
                        <p class="c-flex" @click='handleSubmit'>提交发票</p>
                    </div>
                    <van-popup v-model="showPicker" position="bottom">
                        <van-picker
                            value-key='meaning'
                            show-toolbar
                            :columns="columns"
                            @confirm="handleConfirm"
                            @cancel="showPicker = false"
                        />
                    </van-popup>
                </div>
                <div class='invoiceInfoContainer' v-if='modelTag' @click='handleClose'>
                    <div class="invoiceInfo">
                        <div class="title">
                            <div class="c-flex circleContainer">
                                <span class="circle1"></span>
                            </div>
                            <div class="c-flex circleContainer" style="top:-1px;">
                                <span class="circle2"></span>
                            </div>
                            <p style="position:relative;z-index:999;">
                                增值税普通发票（电子）
                            </p>
                        </div>
                        <p class="c-flex list" style="justify-content: flex-start;margin-top:16px">
                            <span class="label">购方名称</span>
                            <span class="value">{{buyerName}}</span>
                        </p>
                        <p class="c-flex list border" style="justify-content: flex-start">
                            <span class="label">销方名称</span>
                            <span class="value">{{resultInfo.salerName}}</span>
                        </p>
                        <p class="c-flex list" style="margin-top:16px">
                            <span class="label">合计金额</span>
                            <span class="value" style="color:#DF3549">¥{{total.toFixed(2)}}</span>
                        </p>
                        <p class="c-flex list border">
                            <span class="label">开票日期</span>
                            <span class="value">--</span>
                        </p>
                        <p class="c-flex list" style="margin-top:16px">
                            <span class="label">发票代码</span>
                            <span class="value">--</span>
                        </p>
                        <p class="c-flex list">
                            <span class="label">发票号码</span>
                            <span class="value">--</span>
                        </p>
                    </div>
                </div>
            </div>
            `,
            methods: {
                handleDownLoad(){
                    localStorage.setItem("pdfArray", JSON.stringify(this.resultInfo.downloadUrlList));
                    if(!this.resultInfo.downloadUrlList.length){
                        vant.Toast('发票数量为空');
                        return;
                    }
                    window.location.href='./pdf.html';
                },
                handlePush(){
                    //当为电子发票 邮箱或者电话必选一个
                    if(!this.electronicEmail&&!this.electronicPhone){
                        vant.Toast('邮箱或者电话必选一个');
                        return;
                    }
                    if(this.electronicPhone&&!(/^1[3456789]\d{9}$/.test(this.electronicPhone))){
                        vant.Toast('电话格式不正确');
                        return;
                    }
                    if(this.electronicEmail&&!(/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(this.electronicEmail))){
                        vant.Toast('邮箱格式不正确');
                        return;
                    }
                    vant.Toast.loading({
                        duration:0,
                        message:'推送中...',
                        mask:true
                    })
                    axios({
                        method:'post',
                        url:`${APIURL.push}`,
                        data:{
                            phone:this.electronicPhone,
                            email:this.electronicEmail,
                            headerId:this.resultInfo.headerId
                        },
                    })
                    .then(res=>{
                        vant.Toast.clear();
                        if(res.data.failed){
                            vant.Toast(res.data.message)
                        }else{
                            vant.Toast('推送成功！');
                        }
                    })
                    .catch(error=>{
                        vant.Toast.clear();
                    })
                },
                handleCompanyList(item){
                    this.buyerName=item.receiptName;
                    this.buyerTaxNo=item.taxpayerNumber;
                    this.buyerAccount=item.accountNumber;
                    this.buyerAddressPhone=item.addressPhone;
                    item.businessType&&(this.businessTypeObj=this.resultInfo.businessTypeLovList.filter(
                        innerItem=>innerItem.value==item.businessType
                    )[0]);
                    this.selectListTag=false;
                },
                handleChangeBuyName:_.debounce(function(e){
                    axios({
                        method:'get',
                        url:APIURL.relevance(this.resultInfo.tenantId),
                        params:{
                            companyId:this.resultInfo.companyId,
                            receiptName:e.target.value,
                        },
                    })
                    .then(res=>{
                        if(res.data.failed){
                            vant.Toast(res.data.message)
                            return;
                        }
                        this.companyList=res.data;
                        this.selectListTag=true;
                    })
                    .catch(error=>{
                        vant.Toast.clear()
                        console.log(error);
                    })
                },500),
                handleConfirm(event) {
                    if(this.pickerType===0){
                        this.invoiceTypeObj=event;
                    }else{
                        this.businessTypeObj=event;
                    }
                    this.showPicker = false;
                },
                // 发票选择
                handleInvoiceTypeSelect(index){
                    this.invoiceTypeObj=this.resultInfo.invoiceTypeLovList[index];
                },
                // handleInvoiceTypeShow(){
                //     if(this.requestStatus==='N'){
                //         // 未提交
                //         this.pickerType=0;
                //         this.showPicker=true;
                //         this.columns=this.resultInfo.invoiceTypeLovList;
                //     }
                // },
                handleCompanyTypeShow(){
                    if(this.requestStatus==='N'){
                        // 未提交
                        this.pickerType=1;
                        this.showPicker=true;
                        this.columns=this.resultInfo.businessTypeLovList;
                    }
                },
                handleWechat(){
                    console.log('调用微信api');
                    jWeixin.invoke('chooseInvoiceTitle', {}, function (res) {
                        console.log('resss',res);
                        // 这里处理调用结果
                        this.buyerName=res.title;
                        this.buyerTaxNo=res.taxNumber;
                        this.buyerAccount=res.bankAccount;
                        this.buyerAddressPhone=res.companyAddress+res.telephone;
                    })
                },
                // 提交开票
                handleSubmit(){
                    if(!this.businessTypeObj.meaning||!this.buyerName.trim()){
                        vant.Toast('必填项为空');
                        return;
                    }
                    if(['01', '02'].includes(this.businessTypeObj.value)&&!this.buyerTaxNo.trim()){
                        vant.Toast('必填项为空');
                        return;
                    }
                    if(this.invoiceTypeObj.value==='0'){
                        if(!this.buyerAccount.trim()||!this.buyerAddressPhone.trim()){
                            vant.Toast('必填项为空');
                            return;
                        }
                    }
                    if(this.invoiceTypeObj.value==='51'||this.invoiceTypeObj.value==='52'){
                        // 当为电子发票 邮箱或者电话必选一个
                        if(!this.electronicEmail&&!this.electronicPhone){
                            vant.Toast('邮箱或手机号必填一个');
                            return;
                        }
                        if(this.electronicEmail&&this.electronicPhone){
                            vant.Toast('邮箱或手机号仅能填写一个');
                            return;
                        }

                        if(this.electronicPhone&&!(/^1[3456789]\d{9}$/.test(this.electronicPhone))){
                            vant.Toast('电话格式不正确');
                            return;
                        }
                        // if(this.electronicEmail&&!(/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(this.electronicEmail))){
                        //     vant.Toast('邮箱格式不正确');
                        //     return;
                        // }
                        if(this.electronicEmail&&!(/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(this.electronicEmail))){
                            vant.Toast('邮箱格式不正确');
                            return;
                        }
                    } else {
                        if(this.paperPhone&&!(/^1[3456789]\d{9}$/.test(this.paperPhone))){
                            vant.Toast('电话格式不正确');
                            return;
                        }
                    }

                    if(this.invoiceTypeObj.value==='51'||this.invoiceTypeObj.value==='52'){
                        this.paperRecipient=''
                        this.paperPhone=''
                        this.paperAddress=''
                    }else{
                        this.electronicPhone='';
                        this.electronicEmail='';
                    }
                    let param={
                        ...this.resultInfo,
                        invoiceType:this.invoiceTypeObj.value,
                        buyerType:this.businessTypeObj.value,
                        buyerName:this.buyerName,
                        buyerTaxNo:this.buyerTaxNo,
                        buyerAccount:this.buyerAccount,
                        buyerAddressPhone:this.buyerAddressPhone,
                        electronicEmail:this.electronicEmail,
                        electronicPhone:this.electronicPhone,
                        paperRecipient:this.paperRecipient,
                        paperPhone:this.paperPhone,
                        paperAddress:this.paperAddress,

                        receiptAccount: this.buyerAccount,
                        receiptAddressPhone: this.buyerAddressPhone,
                        receiptName: this.buyerName,
                        receiptTaxNo: this.buyerTaxNo,
                        receiptType:this.businessTypeObj.value,
                    }
                    // console.log('param',param);
                    // return;
                    // 开始提交
                    vant.Toast.loading({
                        duration:0,
                        message:'提交中...',
                        mask:true
                    })
                    axios({
                        method:'POST',
                        url:APIURL.submit,
                        data:param
                    })
                    .then(res=>{
                        // this.requestStatus=res.data.data.requestStatus
                        vant.Toast.clear()
                        if(res.data.failed){
                            vant.Toast(res.data.message)
                            return;
                        }
                        if(res.data.status==='200'){
                            this.requestStatus='C'
                        }
                    })
                    .catch(error=>{
                        console.log(error);
                        vant.Toast.clear()
                        vant.Toast('提交出错请重试');
                    })
                },
                handlePreview(){
                    this.modelTag=true;
                },
                handleClose(){
                    this.modelTag=false;
                },
                handlePrice(item) {
                    const totalAmount = item.amount+item.taxAmount;
                    const price = totalAmount / item.quantity;
                    const priceArray = price.toString().split('.');
                    if(priceArray.length > 1) {
                        if(priceArray[1].length > 8) {
                            const calPrice = Number(price).toFixed(8).toString();
                            return Number(parseFloat(calPrice));
                        }
                    }
                    return Number(price)
                },
            },
            created(){
                // initConsole()
                this.uaType=uaFn();
                if(!this.uaType)return;
                vant.Toast.loading({
                    duration:0,
                    message:'加载中...',
                    mask:true
                })
                let params= new URLSearchParams(window.location.search.slice(1));
                let headerId=params.getAll('code')[0];
                console.log('headerId',headerId);
                // let timestamp = Date.parse(new Date()).toString();
                //     let noncestr = 'htcprojectpowerbyzsakvo';
                // jWeixin.config({
                //     beta: true,
                //     debug: true,
                //     appId: 'wx96bc44831cac79ea',
                //     timestamp: timestamp,
                //     nonceStr: noncestr,
                //     signature: wxJsApi(timestamp, noncestr,'O3SMpm8bG7kJnF36aXbe86XRFiFVal1q4tQMEsrmER8a3__gnYZFAwmUGEuCQD27wKV_Doft6aqIAofVOA1sZw'),
                //     jsApiList: ['chooseInvoiceTitle']
                // })
                // console.log(jWeixin);
                // return;

                axios({
                    method:'get',
                    url:APIURL.search,
                    params:{
                        headerId,
                    }
                })
                .then(response=> {
                    if(response.data.failed){
                        vant.Toast(response.data.message)
                        return;
                    }
                    if(response.data.data.data.deleteFlag === 'Y') {
                        vant.Toast('此二维码对应申请单已被删除，请联系商家重新生成！');
                        return;
                    }
                    // 保留两位小数
                    const resData=response.data.data.data;
                    if(response.data.data.requestStatus==='F'){
                        console.log(resData);
                        localStorage.setItem("invoiceList", JSON.stringify(resData));
                        window.location.href='./preview.html';
                        return;
                    }
                    if(resData.requestStatus==='Q'){
                        resData.requestStatus='N';
                    }
                    if(resData.requestStatus==='E'){
                        resData.requestStatus='C';
                    }
                    this.resultInfo=resData;
                    this.buyerName=resData.buyerName;
                    this.buyerTaxNo=resData.buyerTaxNo;
                    this.buyerAccount=resData.buyerAccount;
                    this.buyerAddressPhone=resData.buyerAddressPhone;
                    this.electronicEmail=resData.electronicEmail,
                    this.electronicPhone=resData.electronicPhone,
                    this.requestStatus=resData.requestStatus;

                    this.paperRecipient=resData.paperRecipient;
                    this.paperPhone=resData.paperPhone;
                    this.paperAddress=resData.paperAddress;
                    // 计算总金额
                    resData.requisitionLines.forEach(item=>{
                        if(item.taxIncludedFlag===0){
                            if(item.discountAmount){
                                this.total+=(item.amount+item.taxAmount-item.discountAmount);
                            }else{
                                this.total+=item.amount+item.taxAmount;
                            }
                        }else{
                            if(item.discountAmount){
                                this.total+=item.amount-item.discountAmount;
                            }else{
                                this.total+=item.amount;
                            }
                        }
                    })
                    // 处理默认开票类型
                    this.invoiceTypeObj=resData.invoiceTypeLovList[0];
                    resData.invoiceTypeLovList.forEach(item=>{
                        //若为纸质发票：0,2,41：
                        //若为电子发票：51,52：
                        if(resData.invoiceType){
                            if(item.value===resData.invoiceType){
                                this.invoiceTypeObj=item;
                            }
                        }else if(item.value==='51'){
                            // 默认电子普票
                            this.invoiceTypeObj=item;
                        }
                    });
                    // 筛选默认企业
                    resData.buyerType&&(this.businessTypeObj=resData.businessTypeLovList.filter(
                        item=>item.value===resData.buyerType
                    )[0]);
                    vant.Toast.clear()
                })
                .catch(function (error) {
                    console.log(error);
                    vant.Toast.clear()
                });
                // axios({
                //     method:'get',
                //     url:APIURL.ticket,
                // })
                // .then(function (res) {
                //     if(res.data.failed){
                //         vant.Toast(res.data.message)
                //         return;
                //     }
                //     let timestamp = Date.parse(new Date()).toString();
                //     let noncestr = 'htcprojectpowerbyzsakvo';
                //     console.log('res.data.ticket',res.data.ticket);
                //     jWeixin.config({
                //         beta: true,
                //         debug: true,
                //         appId: res.data.appId,
                //         timestamp: timestamp,
                //         nonceStr: noncestr,
                //         signature: wxJsApi(timestamp, noncestr,res.data.ticket),
                //         jsApiList: ['chooseInvoiceTitle']
                //     })
                //     console.log(jWeixin);
                // })
                // .catch(function (error) {
                //     console.log(error);
                //     vant.Toast.clear()
                // });
            }
        });
    </script>
</html>