<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
        <title>汇税通云票平台</title>
        <!-- 引入样式文件 -->
        <link
            rel="stylesheet"
            href="./css/index.css"
        />
        <!-- 引入 Vue 和 Vant 的 JS 文件 -->
        <script src="./js/vue.min.js"></script>
        <script src="./js/vant.min.js"></script>
        <script type="text/javascript" src="./js/jweixin-1.6.0.js"></script>
        <script src="./js/axio.js"></script>
        <script src="./js/crypto-js.min.js"></script>
        <script src="./js/lodash.js"></script>
        <script src="./js/eruda.min.js"></script>
        <style>
            .btnContainer{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin:40px;
            }
            .tableContainer{
                margin:10px 10px;
                color:#646566;
                font-size: 12px;
            }
            .wechatContainer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                padding: 0;
                overflow:visible;
            }
            .wechatContainer button{
                width: 80px;
                height: auto;
                padding: 4px 6px;
                margin-right: 10px;
            }
            .finishStatus{
                font-size: 14px;
                color: #666;
                margin-top: 100px;
                text-align: center;
            }
            .selectList{
                position: absolute;
                top: 40px;
                z-index: 99;
                width: 100%;
                border-radius: 30px;
            }
            
        </style>
    </head>
    <body>
        <div id='app'></div>
    </body>
    
    <script>
        let initConsole = function() {
            let el = document.createElement('div')
            document.body.appendChild(el)
            eruda.init({
                container: el,
                tool: ['console', 'elements', 'Network', 'Info'],
                useShadowDom: true
            })
        }
        //const BASE_URL = 'https://htaxuat.htc.hand-china.com';
        const BASE_URL = 'BUILD_QR_CODE_BASE_URL';
        // const BASE_URL = 'http://10.211.144.56:9880';

        // const BASE_URL = 'http://htcuatcollector.htc.hand-china.com';
        // const BASE_URL = '/proxy';
        // const testcode='0d7fc19d33ffd86c3b7c52a09ca8ce89241bdcc683ec43b7d6e46ef9461c8b4a0d7fc19d33ffd86c3b7c52a09ca8ce89241bdcc683ec43b7d6e46ef9461c8b4a0d7fc19d33ffd86c3b7c52a09ca8ce89241bdcc683ec43b7d6e46ef9461c8b4a0d7fc19d33ffd86c3b7c52a09ca8ce89241bdcc683ec43b7d6e46ef9461c8b4a';
        const APIURL={
            search:`${BASE_URL}/hiop/v1/0/reservation/query-by-code`,
            submit:`${BASE_URL}/hiop/v1/0/reservation/submit`,
            relevance:(tenantId)=>`${BASE_URL}/hiop/v1/${tenantId}/reservation/receipt-lov`,
            push:`${BASE_URL}/hiop/v1/0/reservation/push`,
            ticket:`${BASE_URL}/hcan/v1/0/get-we-chat/request-ticket/HAND`
        }
        function wxJsApi(timestamp, noncestr, ticket) {
            let url = window.location.href
            if (url.indexOf('#') != -1) {
                url = url.split('#')[0]
            }
            url = window.location.href.replace(/#.*/, '')
            let jsapi_ticket = ticket
            let str = `jsapi_ticket=${jsapi_ticket}&noncestr=${noncestr}&timestamp=${timestamp}&url=${url}`;
            let signature = CryptoJS.SHA1(str).toString();
            console.log('signature',signature);
            return signature
        }
	    const uaFn = () =>{
            const ua=navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i)=="micromessenger") {
                return true;
            } else {
                return false;
            }
        }
        new Vue({
            el: '#app',
            data:{
                uaType:false,//true =>微信浏览器 false =>其他环境浏览器
                showPicker:false,
                selectListTag:false,
                buyerName:'',
                buyerTaxNo:'',
                buyerAccount:'',
                buyerAddressPhone:'',
                electronicEmail:'',
                electronicPhone:'',
                columns: [],
                requestStatus:'N', //判断提交状态 N 新建 C 提交 F 完成 E 异常 Q 取消
                resultInfo:{},
                businessTypeObj:{},
                invoiceTypeObj:{},
                pickerType:0, // 0=> 开票类型 1=>企业类型
                companyList:[],
            },
            template: `
            <div v-if='!uaType'>
                <p class='finishStatus'>请使用微信扫描打开</p>
            </div>
            <div v-else>
                <div>
                    <div v-if="requestStatus==='C'">
                    <p class='finishStatus' v-if='invoiceTypeObj.value!=="51"&&invoiceTypeObj.value!=="52"'>您已提交开票申请，请等待发票开具。</p>
                    <p class='finishStatus' v-else>您已提交开票申请，请等待邮箱或短信推送。</p>
                </div>
                <div  v-else>
                    <van-field
                        :value='resultInfo.salerName'
                        label="商家名称"
                        readonly
                        placeholder="请输入商家名称"
                    />
                    <van-field
                        :value='resultInfo.requestNumber'
                        label="订单号"
                        readonly
                    />
                    <van-field
                        :value='resultInfo.totalAmount&&resultInfo.totalAmount.toFixed(2)'
                        label="开具金额"
                        readonly
                    />
                    <van-field
                        :value='resultInfo.createTime'
                        label="订单日期"
                        readonly
                    />
                    <van-field
                        :value="invoiceTypeObj.meaning"
                        readonly
                        clickable
                        name="picker"
                        label="开票类型"
                        placeholder="选择开票类型"
                        @click="handleInvoiceTypeShow"
                        required
                    />
                    <van-field
                        :value="businessTypeObj.meaning"
                        clickable
                        readonly
                        name="picker"
                        label="企业类型"
                        required
                        placeholder="选择企业类型"
                        @click="handleCompanyTypeShow"
                    />
                    <div class='wechatContainer van-cell' v-if="requestStatus==='N'">
                        <van-field
                            label="购方名称"
                            placeholder="输入购方名称"
                            v-model.lazy="buyerName"
                            @input='handleChangeBuyName'
                            maxlength=100
                            required
                        />
                        <!--<van-button round  type="info" size="small" @click='handleWechat'>微信获取</van-button>-->
                        <van-radio-group class='selectList' v-if='selectListTag&&companyList.length'>
                            <van-cell-group>
                                <van-cell v-for='(item,index) in companyList' :title="item.receiptName" :key='index' clickable @click="handleCompanyList(item)"></van-cell>
                            </van-cell-group>
                        </van-radio-group>
                    </div>
                    <van-field
                        label="购方名称"
                        v-model="buyerName"
                        readonly
                        required
                        v-else
                    />
                    <van-field
                        label="购方税号"
                        v-model="buyerTaxNo"
                        placeholder="输入购方税号"
                        maxlength=20
                        :readonly='requestStatus!=="N"'
                        :required='businessTypeObj.value==="01"'
                    />
                    <van-field
                        label="购方地址电话"
                        placeholder="输入购方地址电话"
                        maxlength=200
                        :readonly='requestStatus!=="N"'
                        v-model="buyerAddressPhone"
                        :required='invoiceTypeObj.value==="0"?true:false'
                    />
                    <van-field
                        label="购方银行账号"
                        placeholder="输入购方银行账号"
                        maxlength=200
                        type='string'
                        :readonly='requestStatus!=="N"'
                        v-model="buyerAccount"
                        :required='invoiceTypeObj.value==="0"?true:false'
                    />
                    <van-field
                        label="手机号"
                        placeholder="输入手机号"
                        type='number'
                        :disabled='requestStatus==="N"&&electronicEmail?true:false'
                        :readonly='(invoiceTypeObj.value!=="51"&&invoiceTypeObj.value!=="52")||requestStatus!=="N"'
                        v-model="electronicPhone"
                    />
                    <van-field
                        label="邮箱"
                        placeholder="输入邮箱"
                        :disabled='requestStatus==="N"&&electronicPhone?true:false'
                        :readonly='(invoiceTypeObj.value!=="51"&&invoiceTypeObj.value!=="52")||requestStatus!=="N"'
                        v-model="electronicEmail"
                    />
                    <van-divider content-position="center"><b>商品明细</b></van-divider>
                    
                    <div class='tableContainer' v-if='resultInfo.requisitionLines'>
                        <table  border="1" rules='all' width='100%'>
                            <tr>
                                <th>序号</th>
                                <th>商品名称</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>金额</th>
                                <th>税率</th>
                                <th>税额</th>
                            </tr>
                            <tr align='center' v-for='(item,index) in resultInfo.requisitionLines' key='index'>
                                <td>{{index+1}}</td>
                                <td>{{item.projectName}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.amount&&item.amount.toFixed(2)}}</td>
                                <td>{{item.taxRate}}</td>
                                <td>{{item.taxAmount&&item.taxAmount.toFixed(2)}}</td>
                            </tr>
                        </table>
                    </div>
                    <div style='margin:40px;' v-if='requestStatus==="N"'>
                        <van-button style='border-radius:10px;' block type="info" size="small" @click='handleSubmit'>提交开票</van-button>
                    </div>
                    <div v-else>
                        <div style='margin:40px;' v-if="invoiceTypeObj.value==='51'||invoiceTypeObj.value==='52'">
                            <!--<van-button style='border-radius:10px;' type="info" size="small" @click='handlePush'>重新推送</van-button>-->
                            <van-button style='border-radius:10px;' block type="info" size="small" @click='handleDownLoad'>下载发票</van-button>
                        </div>
                    </div>
                    <van-popup v-model="showPicker" position="bottom">
                        <van-picker
                            value-key='meaning'
                            show-toolbar
                            :columns="columns"
                            @confirm="handleConfirm"
                            @cancel="showPicker = false"
                        />
                    </van-popup>
                </div>
            </div>
            `,
            methods: {
                handleDownLoad(){
                    localStorage.setItem("pdfArray", JSON.stringify(this.resultInfo.downloadUrlList));
                    if(!this.resultInfo.downloadUrlList.length){
                        vant.Toast('发票数量为空');
                        return;
                    }
                    window.location.href='./pdf.html'; 
                },
                handlePush(){
                    //当为电子发票 邮箱或者电话必选一个
                    if(!this.electronicEmail&&!this.electronicPhone){
                        vant.Toast('邮箱或者电话必选一个');
                        return;
                    }
                    if(this.electronicPhone&&!(/^1[3456789]\d{9}$/.test(this.electronicPhone))){ 
                        vant.Toast('电话格式不正确');  
                        return; 
                    }
                    if(this.electronicEmail&&!(/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(this.electronicEmail))){ 
                        vant.Toast('邮箱格式不正确');  
                        return; 
                    }
                    vant.Toast.loading({
                        duration:0,
                        message:'推送中...',
                        mask:true
                    })
                    axios({
                        method:'post',
                        url:`${APIURL.push}`,
                        data:{
                            phone:this.electronicPhone,
                            email:this.electronicEmail,
                            headerId:this.resultInfo.headerId
                        },
                    })
                    .then(res=>{
                        vant.Toast.clear();
                        if(res.data.failed){
                            vant.Toast(res.data.message)
                        }else{
                            vant.Toast('推送成功！');
                        }
                    })
                    .catch(error=>{
                        vant.Toast.clear();
                    })
                },
                handleCompanyList(item){
                    this.buyerName=item.receiptName;
                    this.buyerTaxNo=item.taxpayerNumber;
                    this.buyerAccount=item.accountNumber;
                    this.buyerAddressPhone=item.addressPhone;
                    item.businessType&&(this.businessTypeObj=this.resultInfo.businessTypeLovList.filter(
                        innerItem=>innerItem.value==item.businessType
                    )[0]);
                    this.selectListTag=false;
                },
                handleChangeBuyName:_.debounce(function(value){
                    axios({
                        method:'get',
                        url:APIURL.relevance(this.resultInfo.tenantId),
                        params:{
                            companyId:this.resultInfo.companyId,
                            receiptName:value,
                        },
                    })
                    .then(res=>{
                        if(res.data.failed){
                            vant.Toast(res.data.message)
                            return;
                        }
                        this.companyList=res.data;
                        this.selectListTag=true;
                    })
                    .catch(error=>{
                        vant.Toast.clear()
                        console.log(error);
                    })
                },500),
                handleConfirm(event) {
                    if(this.pickerType===0){
                        this.invoiceTypeObj=event;
                    }else{
                        this.businessTypeObj=event;
                    }
                    this.showPicker = false;
                },
                handleInvoiceTypeShow(){
                    if(this.requestStatus==='N'){
                        // 未提交
                        this.pickerType=0;
                        this.showPicker=true;
                        this.columns=this.resultInfo.invoiceTypeLovList;
                    }
                },
                handleCompanyTypeShow(){
                    if(this.requestStatus==='N'){
                        // 未提交
                        this.pickerType=1;
                        this.showPicker=true;
                        this.columns=this.resultInfo.businessTypeLovList;
                    }
                },
                handleWechat(){
                    console.log('调用微信api');
                    jWeixin.invoke('chooseInvoiceTitle', {}, function (res) {
                        console.log('resss',res);
                        // 这里处理调用结果
                        this.buyerName=res.title;
                        this.buyerTaxNo=res.taxNumber;
                        this.buyerAccount=res.bankAccount;
                        this.buyerAddressPhone=res.companyAddress+res.telephone;
                    })
                },
                // 提交开票
                handleSubmit(){
                    
                    if(!this.businessTypeObj.meaning||!this.buyerName.trim()){
                        vant.Toast('必填项为空');
                        return;
                    }
                    if(this.businessTypeObj==='01'&&!this.buyerTaxNo.trim()){
                        vant.Toast('必填项为空');
                        return;
                    }
                    if(this.invoiceTypeObj.value==='0'){
                        if(!this.buyerAccount.trim()||!this.buyerAddressPhone.trim()){
                            vant.Toast('必填项为空');
                            return;
                        }
                    }
                    if(this.invoiceTypeObj.value==='51'||this.invoiceTypeObj.value==='52'){
                        // 当为电子发票 邮箱或者电话必选一个
                        if(!this.electronicEmail&&!this.electronicPhone){
                            vant.Toast('邮箱或手机号必填一个');
                            return;
                        }
                        if(this.electronicEmail&&this.electronicPhone){
                            vant.Toast('邮箱或手机号仅能填写一个');
                            return;
                        }
                        
                        if(this.electronicPhone&&!(/^1[3456789]\d{9}$/.test(this.electronicPhone))){ 
                            vant.Toast('电话格式不正确');  
                            return; 
                        }
                        if(this.electronicEmail&&!(/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(this.electronicEmail))){ 
                            vant.Toast('邮箱格式不正确');  
                            return; 
                        } 
                    }
                    let param={
                        ...this.resultInfo,
                        invoiceType:this.invoiceTypeObj.value,
                        buyerType:this.businessTypeObj.value,
                        receiptType:this.businessTypeObj.value,
                        buyerName:this.buyerName,
                        buyerTaxNo:this.buyerTaxNo,
                        buyerAccount:this.buyerAccount,
                        buyerAddressPhone:this.buyerAddressPhone,
                        electronicEmail:this.electronicEmail,
                        electronicPhone:this.electronicPhone,
                    }
                    // 开始提交
                    vant.Toast.loading({
                        duration:0,
                        message:'提交中...',
                        mask:true
                    })
                    axios({
                        method:'POST',
                        url:APIURL.submit,
                        data:param
                    })
                    .then(res=>{
                        // this.requestStatus=res.data.data.requestStatus
                        vant.Toast.clear()
                        if(res.data.failed){
                            vant.Toast(res.data.message)
                            return;
                        }
                        if(res.data.status==='200'){
                            this.requestStatus='C'
                        }
                    })
                    .catch(error=>{
                        console.log(error);
                        vant.Toast.clear()
                        vant.Toast('提交出错请重试');
                    })
                }
            },
            created(){
                // initConsole()
                this.uaType=uaFn();
                if(!this.uaType)return;
                vant.Toast.loading({
                    duration:0,
                    message:'加载中...',
                    mask:true
                })
                let params= new URLSearchParams(window.location.search.slice(1));
                let headerId=params.getAll('code')[0];
                console.log('headerId',headerId);
                // let timestamp = Date.parse(new Date()).toString();
                //     let noncestr = 'htcprojectpowerbyzsakvo';
                // jWeixin.config({
                //     beta: true,
                //     debug: true,
                //     appId: 'wx96bc44831cac79ea',
                //     timestamp: timestamp,
                //     nonceStr: noncestr,
                //     signature: wxJsApi(timestamp, noncestr,'O3SMpm8bG7kJnF36aXbe86XRFiFVal1q4tQMEsrmER8a3__gnYZFAwmUGEuCQD27wKV_Doft6aqIAofVOA1sZw'),
                //     jsApiList: ['chooseInvoiceTitle']
                // })
                // console.log(jWeixin);
                // return;

                axios({
                    method:'get',
                    url:APIURL.search,
                    params:{
                        headerId,
                    }
                })
                .then(response=> {
                    if(response.data.failed){
                        vant.Toast(response.data.message)
                        return;
                    }
                    // 保留两位小数
                    const resData=response.data.data;
                    if(resData.requestStatus==='Q'){
                        resData.requestStatus='N';
                    }
                    if(resData.requestStatus==='E'){
                        resData.requestStatus='C';
                    }
                    this.resultInfo=resData;
                    this.buyerName=resData.buyerName;
                    this.buyerTaxNo=resData.buyerTaxNo;
                    this.buyerAccount=resData.buyerAccount;
                    this.buyerAddressPhone=resData.buyerAddressPhone;
                    this.electronicEmail=resData.electronicEmail,
                    this.electronicPhone=resData.electronicPhone,
                    this.requestStatus=resData.requestStatus;
                    // 处理默认开票类型
                    this.invoiceTypeObj=resData.invoiceTypeLovList[0];
                    resData.invoiceTypeLovList.forEach(item=>{
                        //若为纸质发票：0,2,41：
                        //若为电子发票：51,52：
                        if(resData.invoiceType){
                            if(item.value===resData.invoiceType){
                                this.invoiceTypeObj=item;
                            }
                        }else if(item.value==='51'){
                            // 默认电子普票
                            this.invoiceTypeObj=item;
                        }
                    });
                    // 筛选默认企业
                    resData.buyerType&&(this.businessTypeObj=resData.businessTypeLovList.filter(
                        item=>item.value===resData.buyerType
                    )[0]);
                    vant.Toast.clear()
                })
                .catch(function (error) {
                    console.log(error);
                    vant.Toast.clear()
                });
                // axios({
                //     method:'get',
                //     url:APIURL.ticket,
                // })
                // .then(function (res) {
                //     if(res.data.failed){
                //         vant.Toast(res.data.message)
                //         return;
                //     }
                //     let timestamp = Date.parse(new Date()).toString();
                //     let noncestr = 'htcprojectpowerbyzsakvo';
                //     console.log('res.data.ticket',res.data.ticket);
                //     jWeixin.config({
                //         beta: true,
                //         debug: true,
                //         appId: res.data.appId,
                //         timestamp: timestamp,
                //         nonceStr: noncestr,
                //         signature: wxJsApi(timestamp, noncestr,res.data.ticket),
                //         jsApiList: ['chooseInvoiceTitle']
                //     })
                //     console.log(jWeixin);
                // })
                // .catch(function (error) {
                //     console.log(error);
                //     vant.Toast.clear()
                // });
            }
        });
      </script>
</html>